* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50514f;
  font-family: inherit;
  font-size: 20px;
  color: #fdfff7;
}
