ul {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  margin: 20px;
  background-color: #59ffa0;
  font-family: inherit;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  padding: 20px 0;
  border: 2px solid #fdfff7;
  box-shadow: -1px 3px 6px #fff;
}
